# Directorios de entornos virtuales
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.sqlite3

# Configuraciones específicas del editor (ej. VS Code, PyCharm)
.vscode/
.idea/

# Archivos de logs
*.log